@import "tailwindcss";
@custom-variant dark (&:where([data-mantine-color-scheme=dark], [data-mantine-color-scheme=dark] *));
@utility container {
  margin-inline: auto;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --color-main-theme: #8c4aea;
  --color-white-custom: #dbe4e9;
}

:root[data-mantine-color-scheme="light"] {
  --mantine-color-body: #f7f7f8;
  --mantine-color-text: #a1a1a1;
  --color-box-inside: #ffffff;
  --color-text-muted: #333d42;
  --c-text-title: #ededed;
}

:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #111214;
  --mantine-color-text: #a1a1a1;
  --color-box-inside: #27282a;
  --color-text-muted: #888888;
  --c-text-title: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
}
